@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  background: rgba(0, 255, 21, 0.582);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: all 0.3s ease;
}
header.sticky {
  background: lightslategray;
}
header .brand {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  animation: sass 15s infinite;
}
@keyframes sass {
  0% {
    color: #836464;
  }
  15% {
    color: #486491;
  }
  25% {
    color: #8d7a30;
  }
  35% {
    color: #a03ab7;
  }
  40% {
    color: #3a70b7;
  }
  45% {
    color: #8b6b60;
  }
  55% {
    color: #ffeb3bc4;
  }
  65% {
    color: #9ef403;
  }
  75% {
    color: lightseagreen;
  }
  85% {
    color: lime;
  }
}
header .navigation {
  position: relative;
}
header .navigation a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  /* transition: 0.5s ease; */
  animation: semd 15s infinite;
}
@keyframes semd {
  0% {
    color: #836464;
  }
  15% {
    color: #486491;
  }
  25% {
    color: #8d7a30;
  }
  35% {
    color: #a03ab7;
  }
  40% {
    color: #3a70b7;
  }
  45% {
    color: #8b6b60;
  }
  55% {
    color: #ffeb3bc4;
  }
  65% {
    color: #9ef403;
  }
  75% {
    color: lightseagreen;
  }
  85% {
    color: lime;
  }
}
section {
  padding: 100px;
}
.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("./img/rasm1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main content {
  max-width: 800px;
}
.main .content h2 {
  color: green;
  text-shadow: 0 0 10px gold;
  font-size: 64px;
  font-weight: 500;
  transition: 0.5s ease;
}
.main .content h2:hover {
  color: blueviolet;
}
.main .content h2 span {
  font-size: 60px;
  font-weight: 600;
}
.animated-text {
  height: 75px;
  overflow: hidden;
  position: relative;
}
.animated-text h3 {
  color: crimson;
  font-size: 42px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}
.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}
@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
.btn {
  color: #fff;
  background-color: rgba(76, 0, 130, 0.795);
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  margin: 30px 0;
  transition: 0.5s ease;
}
.btn_sm {
  color: #fff;
  background-color: rgba(76, 0, 130, 0.795);
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  margin: 30px 0;
  transition: 0.5s ease;
}
.btn_sux {
  color: #fff;
  background-color: rgba(76, 0, 130, 0.795);
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  margin: 30px 0;
  transition: 0.5s ease;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.788);
  color: chocolate;
  text-shadow: cornflowerblue;
  box-shadow: 0 0 60px darkslateblue;
}
.btn_sm:hover {
  background: rgba(255, 255, 255, 0.788);
  color: chocolate;
  text-shadow: cornflowerblue;
  box-shadow: 0 0 60px darkslateblue;
}
.btn_sux:hover {
  background: rgba(255, 255, 255, 0.788);
  color: chocolate;
  text-shadow: cornflowerblue;
  box-shadow: 0 0 60px darkslateblue;
}
.media-icons a {
  color: cornflowerblue;
  font-size: 25px;
  margin-right: 30px;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-title {
  position: relative;
  color: crimson;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 60px;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 89px;
  width: 140px;
  height: 4px;
  background: red;
  transform: translateX(-50%);
  align-items: center;
}
.section-title::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 45%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: crimson;
  transform: translateX(-50%);
}
.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.about .content .column {
  position: relative;
  width: 80%;
}
.about .content .col-left {
  position: relative;
  width: 45%;
}
.about .content .col-right {
  position: relative;
  width: 45%;
}
.about .content .img-card {
  position: relative;
  width: 100%;
  min-width: 450px;
}
.about .content .img-card img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about.contenat-title {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
}
.paragrf-text {
  font-size: 17px;
}
.skills {
  background: #000016;
  animation: skillesm 15s infinite;
}
@keyframes skillesm {
  0% {
    background-color: black;
  }
  10% {
    background-color: #45344e;
  }
  25% {
    background-color: #34464e;
  }
  35% {
    background-color: #344e43;
  }
  45% {
    background-color: #3e4e34;
  }
  55% {
    background-color: #4e4534;
  }
  64% {
    background-color: #4e3434ed;
  }
  75% {
    background-color: #3a6048;
  }
  85% {
    background-color: rgba(76, 0, 130, 0.603);
  }
  95% {
    background-color: #374e34;
  }
  100% {
    background-color: black;
  }
}
.skills .content {
  position: relative;
  widows: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 20px;
}
.skills .col-left {
  position: relative;
  width: 45%;
}
.skills .col-left .content-title {
  margin-bottom: 20px;
  color: gold;
  text-shadow: 0 0 25px red;
}
.skills .col-left p {
  color: gold;
  text-shadow: 0 0 25px red;
}

.skills .col-right {
  position: relative;
  width: 45%;
}
.skills .col-right .bar {
  margin-bottom: 15px;
  padding: 10px;
}
.skills .col-right .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.skills .info span {
  font-size: 18px;
  font-weight: 500;
}
.skills .line {
  position: relative;
  width: 100%;
  height: 15px;
  background: #ccc;
  border-radius: 2px;
}
.skills .line::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
}
.skills .html::before {
  width: 54%;
  background: #e45126;
}

.skills .css::before {
  width: 50%;
  background: cornflowerblue;
}
.skills .JavaScript::before {
  width: 32%;
  background: darkgoldenrod;
}
.skills .jquery::before {
  width: 25%;
  background: lime;
}
.skills .php::before {
  width: 35%;
  background: mediumslateblue;
}

/* section 4 service ga stil bervoman */
.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 45px;
}
.title p {
  width: 80%;
}
.services .content .card {
  background: #fff;
  width: 300px;
  margin: 10px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
  border-radius: 10px;
}
.services .card .service-icon {
  color: crimson;
  font-size: 120px;
  text-align: center;
  transition: transform 0.5s ease;
}
.services .card .service-icon:hover {
  transform: translateY(-10px);
}
.services .card .info {
  text-align: center;
}
.services .card .info h3 {
  color: crimson;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}
.work {
  background: #000016;
}
.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 106%;
}

.work .content .card {
  width: 340px;
  margin: 15px;
}

.work .content .card-img {
  position: relative;
  width: 100%;
  height: 260px;
  border-radius: 15px;
  overflow: hidden;
}
.work .content .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}
.work .content .card-img img:hover {
  transform: scale(1.2);
}
.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-trim: 20px;
}
.contact .content .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .row .card {
  background: #fff;
  width: 240px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
  border-radius: 10px;
}

.contact .card .contact-icon {
  color: crimson;
  font-size: 60px;
  text-align: center;
  transition: transform 0.5s ease;
}
.contact .card:hover .contact-icon {
  transform: translateY(-15px);
}

.contact .card .info h3 {
  color: #111;
  font-size: 21px;
  font-weight: 700;
  margin: 10px;
}
.contact .card .info a {
  color: #666;
  font-weight: 500;
  width: 25px;
  height: 10px;
  text-decoration: none;
}
.contact .card .info span {
  color: #666;
  font-weight: 500;
}
.contact-form {
  background: #fff;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
}
.contact-form h3 {
  color: #111;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}
.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact-form .input-box input,
.contact-form .input-box textarea {
  color: #111;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  font-weight: 400;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;
}
.contact-form .input-box .send-btn {
  color: #fff;
  background: crimson;
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}
.contact-form .input-box .send-btn:hover {
  background: gold;
  color: #000;
  border: 1px solid #111;
}
.footer {
  background: #000016;
  color: #fff;
  text-align: center;
  padding: 34px;
}
.footer .footer-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 10px;
}
.footer p {
  margin-top: 10px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
@media (max-width: 1049px) {
  header {
    padding: 12px 20px;
  }
  header.sticky {
    padding: 10px 20px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    z-index: 888;
    position: fixed;
    background: url(./img/manzaralirasm.jpg) no-repeat;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    transition: 03s ease;
  }
  header .navigation a {
    font-size: 22px;
    margin: 10px;
    padding: 0 20px;
    border-radius: 20px;
  }
  header .navigation a:hover {
    background: crimson;
  }
  .menu-btn {
    position: absolute;
    background: url(./img/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.4s ease;
    /* filter: invert(1); */
  }
  .menu-btn.active {
    z-index: 999;
    background: url(./img/ikonkax.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
  section {
    padding: 80px 41px;
  }
  .main .content h2 {
    font-size: 25px;
  }
  .main .content h3 {
    font-size: 35px;
  }

  .section-title {
    font-size: 36px;
  }
  .about .content {
    flex-direction: column;
  }
  .about .content .column {
    position: relative;
    width: 100%;
  }
  .about .content .col-right {
    margin-top: 40px;
  }

  .skills .content {
    flex-direction: column;
  }

  .skills .content .column {
    position: relative;
    width: 100%;
  }
  .skills .content .col-right {
    margin-top: 40px;
  }
  .contact-form {
    padding: 35px 40px;
  }
  .contact .content .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111%;
    flex-wrap: wrap;
    margin-left: -18px;
  }
}

.about .content .column {
  position: relative;
  width: 100%;
}
.about .content .col-right {
  margin-left: 40px;
}

.scrollTop-btn {
  z-index: 999;
  position: fixed;
  background: crimson;
  color: #fff;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
}
.scrollTop-btn.active {
  right: 20px;
  opacity: 1;
}
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.9s ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
